@charset "utf-8";
a, .btn, input, button, li, div{
	-webkit-transition: all 0.5s;
}

/*ͷ��Ч����д*/
.hln-header {
	background-color: #191e24;
}

/*ͷ��Ч����д*/
.hln-header a {
	color: #fff;
}

/*ͷ��Ч����д*/
.hln-header i {
	color: #5bc0de;
}

/*ͷ��Ч����д*/
.hln-header .container .pull-left, .hln-header .container .pull-right {
	color: #fff !important;
	margin-bottom: 0;
}

/* LOGO */
.hln-head {
	background-color: #f2f2f2;
	height: 70px;
	height: 70px;
	margin-left: 0;
	margin-right: 0 !important;
	margin-bottom: 75px
}

/* LOGO ���*/
.hln-head-left {
	height: 70px;
	line-height: 70px;
	float: left;
}

/*LOGO ͼƬ*/
.hln-head img {
	height: 45px;
}

/* LOGO �Ҳ�*/
.hln-head-right {
	float: left;
	height: 70px;
	line-height: 70px;
	margin-left: 24px;
}

/* LOGO h3*/
.hln-head h3 {
	width: 100%;
	padding-left: 20px;
	border-left: 1px solid;
	height: 30px;
	line-height: 30px;
	font-size: 20px;
}

/* LOGO ��ʾ��*/
.hln-head .col-md-2 {
	height: 70px;
	line-height: 70px;
}

/* ��ʾ��ɫ���� */
.hln-cue {
	color: red;
}

/*��ʾ��ɫ����*/
.hln-cue-info {
	color: #00c2de;
	font-size: 30px;
}

/* ͷ�����������ͼƬ*/
.hln-head-img {
	text-align: center;
	margin-bottom: 65px;
}

/* ��ɫ��ť-��*/
.hln-btn-info {
	width: 100%;
	height: 40px;
	background-color: #00c1de;
	border: 1px solid #46b8da;
	color: #fff;
	font-size: 20px;
}

/*��ɫ��ť-���������Ч��*/
.hln-btn-info:HOVER {
	background-color: #00b0ca;
	color: #fff;
}

/* ��ɫ��ť-С(��ҵע�����-��ҵ����)*/
.hln-btn-info-sm {
	background-color: #00c1de;
	border: 1px solid #46b8da;
	color: #fff;
	height: 40px;
	width: 115px;
}

/*��ɫ��ť-С(��ҵע�����-��ҵ����)�������Ч��*/
.hln-btn-info-sm:HOVER {
	background-color: #00b0ca;
	color: #fff;
}

/*��ɫ��ť-��*/
.hln-btn-default {
	background-color: #777;
	border: 1px solid #777;
	color: #fff;
	height: 40px;
	line-height: 40px;
	padding: 0 10px;
}

/*��ɫ��ť-�� �������Ч��*/
.hln-btn-default:HOVER {
	background-color: #00c1de;
	border: 1px solid #00c1de;
	color: #fff;
}

/* ��ɫ��ť-С(��ҵע�����-������ҳ)*/
.hln-btn-default-sm {
	background-color: #777;
	border: 1px solid #777;
	color: #fff;
	height: 40px;
	width: 115px;
}

/*��ɫ��ť-С(��ҵע�����-������ҳ)�������Ч��*/
.hln-btn-default-sm:HOVER {
	background-color: #00c1de;
	border: 1px solid #00c1de;
	color: #fff;
}

/* ��ɫ��ť-��*/
.hln-btn-orange {
	width: 100%;
	height: 40px;
	background-color: #f17d2b;
	color: #fff;
	font-size: 20px;
}

/* ��ɫ��ť-���������Ч��*/
.hln-btn-orange:HOVER {
	background-color: #e86900;
	color: #fff;
}

/* ��ɫ��ť-С*/
.hln-btn-orange-sm {
	width: 115px;
	height: 40px;
	background-color: #f17d2b;
	color: #fff;
}

/* ��ɫ��ť-С�������Ч��*/
.hln-btn-orange-sm:HOVER {
	background-color: #e86900;
	color: #fff;
}

/*��ɫ��ť-С*/
.hln-btn-white-sm {
	background-color: white;
	border: 1px solid #000;
}

/*��ɫ��ť-С �������*/
.hln-btn-white-sm:HOVER {
	background-color: #00c2de;
	border-color: #00c2de;
	color: #fff;
}

/* ��ɫ���� a��ǩ*/
.hln-a-default {
	text-decoration: underline;
	color: black;
	font-weight: normal;
}

/* ��ɫ���� a��ǩ �������Ч��*/
.hln-a-default:HOVER {
	color: #00b0ca;
	text-decoration: underline;
}

/* ��ɫa��ǩ �������»���*/
.hln-a-default-noline {
	color: #000;
	font-size: 14px;
}

/*��ɫa��ǩ ��������ϱ���ɫ*/
.hln-a-default-noline:HOVER {
	color: #ff8a00;
}

/*��ɫ���� a��ǩ*/
.hln-a-info {
	color: #ff8a00 !important;
}

/*��ɫ���� a��ǩ�������Ч��*/
.hln-a-info:HOVER {
	color: #fff !important;
}

/*��ɫ���� a��ǩ*/
.hln-a-fff {
	color: #fff;
	text-decoration: underline;
}

/*��ɫ���� a��ǩ�������Ч��*/
.hln-a-fff:HOVER {
	color: blue;
	text-decoration: underline;
}

/* ��ҵ��פ��ɫ����*/
.hln-qyrz-content {
	background-color: #f2f2f2;
	margin-top: 50px;
	padding-left: 0;
	padding-right: 0;
}

/* ��ҵ��פ��ɫhead*/
.hln-qyrz-title {
	text-align: center;
	color: white;
	background-color: #5bc0de;
	height: 80px;
	line-height: 80px;
	margin: 0 0 35px 0;
}

/* �һ�����-��֤��*/
.hln-yzm {
	background-color: #999;
	text-align: center;
	height: 36px;
	line-height: 36px;
	color: white;
	margin-left: -10px;
	margin-right: 10px;
	padding: 0;
}

/* ע��ɹ� -��ҵȨ�����ߵĺ���*/
.hln-middle-line {
	width: 100%;
	margin: 20px auto;
	text-align: center;
}

/* ע��ɹ� -��ҵȨ�����ߵĺ���  ��������*/
.hln-middle-line span {
	display: block; /*����Ϊ�鼶Ԫ�ػ��ռһ���γ����¾��е�Ч��*/
	font-size: 18px;
	font-weight: bold;
	position: relative; /*��λ���ߣ������ߵĸ�Ԫ�أ�*/
}

/* ע��ɹ� -��ҵȨ�����ߵĺ���*/
.hln-middle-line span:before, .hln-middle-line span:after {
	content: ''; /*CSSα���÷�*/
	position: absolute; /*��λ�������ߵ�λ��*/
	top: 50%;
	background: #ccc; /*��͸��������ı�������*/
	width: 19%;
	height: 1px;
}

/* ע��ɹ� -��ҵȨ�����ߵĺ���*/
.hln-middle-line span:before {
	left: 25%; /*�������ߵ����Ҿ���*/
}

/* ע��ɹ� -��ҵȨ�����ߵĺ���*/
.hln-middle-line span:after {
	right: 25%;
}

/* ע��ɹ�ҳ����*/
.hln-regist-success-content {
	margin: 0 auto;
	text-align: center;
	margin-top: 95px;
}

/* ע��ɹ�ҳ��div�±߾�*/
.hln-regist-success-content>div {
	margin-top: 65px;
}

.hln-regist-success-content a:HOVER {
	color: #000 !important;
}

/*��¼ҳ�汳��*/
.hln-login-center {
	background-image: url(../images/login/login-bg.jpg);
	background-repeat: no-repeat;
	background-position: top center;
	height: 744px;
	max-width: 1920px;
}

/*��¼ҳ�����*/
.hln-login-center .hln-login-input-left {
	width: 50%;
	margin-top: 140px;
	float: left;
}

/*��¼ҳ���Ҳ�*/
.hln-login-center  .hln-login-input-right {
	width: 50%;
	float: right;
	margin-top: 340px;
	text-align: center;
	padding-left: 230px;
}

/*��¼ҳ���Ҳఴť*/
.hln-login-center  .hln-login-input-right .btn {
	color: #fff;
	background-color: #00c2de;
	border: 1px solid #fff;
	height: 40px;
	width: 105px;
	font-size: 16px;
}

/*��¼ҳ���Ҳఴť-�������Ч��*/
.hln-login-center  .hln-login-input-right .btn:HOVER {
	color: #00c2de;
	border: 1px solid #00c2de;
	background-color: #fff;
}

/*���������߶�*/
input.form-control {
	height: 40px;
}

/* ����ʡ���������˵�*/
.hln-select-ssx {
	width: 30%;
	margin-right: 13px;
	float: left;
	padding-right: 0;
	padding-left: 5px;
}

/*���ö�ѡ��*/
.hln-checkbox-inline {
	margin-right: 17px;
}

/*�ײ���ťmargin-top*/
.hln-bottom-btn {
	margin-top: 65px;
	padding-bottom: 65px;
}

/*��������ͷ��*/
.hln-zxhead {
	background: url(../images/grzx/normal/user-img.png);
	background-position: bottom right 20px;
	background-repeat: no-repeat;
	height: 88px;
	line-height: 88px;
	margin-bottom: 0;
	background-color: #fff;
}

/*����ͷ��-������ʾ*/
.hln-zx-head-cue-img img {
	background-color: white;
}

/*����ͷ��-������ʾ-����*/
.hln-zx-head-cue-img span {
	border-radius: 50px;
	width: 18px;
	height: 18px;
	line-height: 20px;
	background-color: red;
	text-align: center;
	color: white;
	font-size: 12px;
	margin-left: -10px;
}

/* ��Բ�Ͱ�ť*/
.hln-btn-oval {
	border-radius: 20px;
	width: 128px;
	height: 36px;
}

/* ����title*/
.hln-zxtitle {
	background-color: #191e24;
	height: 40px;
	line-height: 40px;
}

/* ����title ��li*/
.hln-zxtitle li {
	float: left;
	width: 185px;
	text-align: center;
}

/* ����title ��li ���a��ǩ*/
.hln-zxtitle li a {
	font-size: 16px;
	color: #fff;
}

/* ����title ��li ���a��ǩ - ��������¼�*/
.hln-zxtitle li:HOVER {
	background: #00c2dd;
}

.hln-zx-centent {
	background-color: #f8f8f8;
}

/*�����������title*/
.hln-zx-centent-title {
	height: 40px;
	line-height: 40px;
	font-size: 14px;
	padding: 0 10px;
	color: #888;
	
}
.hln-zx-centent-title span a{
	color: #989490;
}

/* ���ĵ����*/
.hln-zx-centent>.container>.pull-left {
	width: 182px;
	text-align: center;
	margin-right: 12px;
	background-color: #fff;
}

.hln-zx-centent>.container>.pull-right {
	width: 1000px;
}

/*��������ͷ��*/
.hln-zx-centent>.container>.pull-left .heading {
	background-color: #00c2dd;
	color: #fff;
	font-size: 16px;
	height: 60px;
	line-height: 60px;
}

.hln-zx-centent>.container>.pull-left>ul {
	margin-bottom: 0;
}

/*��������li*/
.hln-zx-centent>.container>.pull-left>ul>li {
	min-height: 50px;
	border: 1px solid #ccc;
	border-top: none;
	font-weight: bold;
	font-size: 16px;
	padding: 10px 0;
}

/*��������li��Ƕ�׵�li*/
.hln-zx-centent>.container>.pull-left>ul>li>ul>li {
	padding-top: 22px;
	font-size: 14px;
	font-weight: normal;
}

.hln-zx-centent>.container>.pull-left>ul>li>ul>li>a {
	color: #898a8a;
}

.hln-zx-centent>.container>.pull-left>ul>li>ul>li>a:HOVER {
	color: #337ab7;
}

/* �����Ҳ��top*/
.hln-zx-right-top {
	height: 360px;
	margin-bottom: 12px;
}

/*�����Ҳ�-top-���*/
.hln-zx-right-top .pull-left {
	width: 658px;
	height: 360px;
	border: 1px solid #ccc;
	margin-right: 12px;
	background-color: #fff;
}

.hln-zx-right-top .pull-left a:HOVER {
	text-decoration: underline !important;
}

/*�����Ҳ�-top-���-���沿��*/
.hln-zx-right-top .pull-left .top {
	padding: 35px;
	height: 240px;
}

/*�����Ҳ�-top-���-���沿��-���*/
.hln-zx-right-top .pull-left .top .left {
	float: left;
	height: 156px;
	padding-right: 20px;
	border-right: 1px solid #ccc;
	width: 200px;
}

/*�����Ҳ�-top-���-���沿��-�ұ�*/
.hln-zx-right-top .pull-left .top .right {
	float: left;
	width: 380px;
}

/*�����Ҳ�-top-���-���沿��-��� �İ�ť*/
.hln-zx-right-top .pull-left .top .left button {
	width: 90px;
	height: 24px;
	line-height: 20px;
	font-size: 12px;
	margin-top: 14px;
}

/*�����Ҳ�-top-���-���沿��*/
.hln-zx-right-top .pull-left .bottom {
	padding: 0 40px;
	text-align: center;
}

/*�����Ҳ�-top-�ұ�*/
.hln-zx-right-top .pull-right {
	width: 330px;
	height: 360px;
	border: 1px solid #ccc;
	float: left !important;
	background-color: #fff;
}

/*�����Ҳ�-top-�ұߵ�title*/
.hln-li-title {
	border-bottom: 1px solid #ccc;
	font-size: 16px;
	font-weight: bold;
	padding-left: 20px;
}

/*�����Ҳ�-top-�ұߵ�title*/
.hln-li-title p {
	border-left: 3px solid #00c2dd;
	height: 22px;
	line-height: 22px;
	padding-left: 12px;
	margin: 9px 0;
}

/*�����Ҳ�-top-�ұ��б�*/
.hln-zx-right-top .pull-right ul {
	padding: 0 20px;
}

/*�����Ҳ�-top-�ұ��б�*/
.hln-zx-right-top .pull-right li {
	height: 70px;
	padding: 7px 0px;
	border-bottom: 1px solid #ccc;
	background: url("../images/sjzx/dot.png");
	background-position: top 18px left;
	background-repeat: no-repeat;
}

.hln-zx-right-top .pull-right li:HOVER {
	background: url("../images/sjzx/dot-s.png");
	background-position: top 18px left;
	background-repeat: no-repeat;
}

/*�����Ҳ�-top-�ұ��б�-����*/
.hln-zx-right-top .pull-right li p {
	margin: 0;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	margin-left: 15px;
}

/*�����Ҳ�-top-�ұ��б�-����/ʱ��*/
.hln-zx-right-top .pull-right li p span {
	color: #979797;
	font-size: 12px;
}

/*�����Ҳ�-ͼƬ*/
.hln-zx-right-img {
	background: url(../images/grzx/normal/user-banner.jpg);
	background-position: top center;
	background-repeat: no-repeat;
	height: 100px;
	width: 100%;
}

/*�����Ҳ�-�м�*/
.hln-zx-right-center {
	height: 405px;
	border: 1px solid #ccc;
	margin-top: 14px;
	background-color: #fff;
}

/*�����Ҳ�-�м�-title*/
.hln-zx-center-title {
	padding: 25px 34px;
}

/*�����Ҳ�-�м�-title���� */
.hln-zx-center-title h3 {
	padding-left: 14px;
	border-left: 3px solid #00c2dd;
	font-size: 18px;
}

/*�����Ҳ�-�м�-title���� */
.hln-zx-center-title span {
	font-size: 12px;
	color: #a8a8a8;
}

/*�����Ҳ�-�м�-���ݱ߾� */
.hln-zx-center-centent {
	margin: 0 34px;
}

/*�����Ҳ�-�м�-div*/
.hln-zx-center-centent>div {
	float: left;
	margin-right: 48px;
	border: 1px solid #ccc;
	width: 270px;
	height: 290px;
	text-align: center;
	padding: 50px 32px 36px 32px;
}

.hln-image-change-hover{
	display: none;
}

/*������ϱ߿򷢹�*/
.hln-container-shine:HOVER {
	box-shadow: 0 0 8px #ccc;
	-webkit-box-shadow: 0 0 8px #ccc;
	-moz-box-shadow: 0 0 8px #ccc;
}

.hln-container-shine:HOVER .hln-image-change-out{
	display: none;
}

.hln-container-shine:HOVER .hln-image-change-hover{
	display: block;
}

.hln-zx-right-bottom .hln-zx-bottom-centent .hln-container-shine div {
	height: 44px;
}

/*�ǻ۽������-div-�������� */
.hln-container-shine h3 {
	font-size: 18px;
	padding: 14px 0;
}

/* �������������������������ɫ*/
.hln-container-shine:HOVER h3 {
	color: #00c2de;
}

/*�ǻ۽������-div-�������� */
.hln-container-shine p {
	font-size: 12px;
	color: #666;
}

/*�����Ҳ� - �ײ�*/
.hln-zx-right-bottom {
	height: 515px;
	margin-top: 14px;
	margin-bottom: 40px;
	border: 1px solid #ccc;
	background-color: #fff;
}

/*�����Ҳ� - �ײ�-����*/
.hln-zx-right-bottom .hln-zx-bottom-centent {
	padding: 10px 15px 34px 15px;
	text-align: center;
}
/*�����Ҳ�-�ײ�-div*/
.hln-zx-right-bottom .hln-zx-bottom-centent>div {
	width: 240px;
	height: 186px;
	float: left;
	padding: 20px 8px;
}

/* ���Ǳ��� */
.hln-star-shine {
	color: #00c2de;
}

/* ���ĵ���ࡢ�Ҳ�*/
.hln-head-clear .pull-left, .hln-head-clear .pull-right {
	margin-bottom: 0;
}

/* ��ҵ�� ��ʼ*/
.hln-qyk-body {
	background-color: #f8f8f8;
}

/* ��ҵ�� ͷ���Ҳ�*/
.hln-qyk-head-right-ul li {
	width: 90px;
	text-align: center;
}

/* ��ҵ�� ͷ���Ҳ�*/
.hln-qyk-head-right-ul li a {
	margin-left: 0 !important;
}

/* ��ҵ�� logo*/
.hln-qykhead {
	height: 90px;
	margin: 0 auto;
}

/* ��ҵ�� logo*/
.hln-qykhead .container {
	height: 90px;
	background-image: url("../images/logo.png");
	background-position: left;
	background-repeat: no-repeat;
}

/* ��ҵ�� logo ������*/
.hln-qykhead .input-group input {
	border: 2px solid #00c2de;
}

/* ��ҵ�� logo �������İ�ť*/
.hln-qykhead .input-group button {
	height: 40px;
	width: 80px;
}

/* ��ҵ�� logo phone*/
.hln-qykhead .col-md-2 {
	padding-left: 22px;
}

/* ��ҵ�� logo phone*/
.hln-qykhead .col-md-2 p {
	font-size: 16px;
	font-weight: bold;
	height: 15px;
	line-height: 15px
}

/* ��ҵ�� logo phone*/
.hln-qykhead .col-md-2 .hln-phone {
	font-size: 22px;
}

/* ��ҵ�� logo ����*/
.hln-qykhead>.container>.form-group>div {
	margin-top: 26px;
}

/* ��ҵ�� ��ɫ���� title*/
.hln-qyktitle>.container>ul>li {
	padding-left: 25px;
	padding-right: 25px;
	width: auto;
}

/* ��ҵ��ͼƬ / ��¼״̬ �����ñ���ͼ*/
.hln-qykimg {
	height: 300px;
	background-image: url("../images/main/banner-qy.jpg");
	background-position: top center;
	background-repeat: no-repeat;
	color: #fff;
}

/* ��ҵ��ͼƬ / ��¼״̬ �������Ҳ��*/
.hln-qykimg .hln-login-status {
	float: right;
	width: 410px;
	height: 300px;
	text-align: center;
	padding: 25px 25px 35px 25px;
	background-color: rgba(51, 51, 51, 0.2);
}

/*��ҵ��ͼƬ/��¼״̬���Ҳ��ӭ��*/
.hln-login-status .hln-welcome {
	font-size: 16px;
	font-weight: bold;
}

/* ��ҵ��ͼƬ / ��¼״̬ �������Ҳ�� ��ť*/
.hln-qykimg .hln-btn-qyk-login, .hln-qykimg .hln-btn-qyk-regist {
	width: 75px;
	height: 27px;
	padding: 0;
	background-color: transparent;
	border: 2px solid #00c2de;
	color: #00c2de;
}

.hln-qykimg .hln-btn-qyk-login {
	float: left;
	margin-left: 95px;
}

.hln-qykimg .hln-btn-qyk-regist {
	float: right;
	margin-right: 95px;
}

.hln-qykimg .hln-qykimg-img {
	margin-top: 30px;
	margin-bottom: 30px;
	height: 70px;
}

/* ��ҵ��ͼƬ/��¼״̬ �����Ҳ��  4��Сͼ*/
.hln-qykimg .hln-image-transition {
	color: #fff;
	cursor: default;
}

/* ��ҵ��ͼƬ/��¼״̬ �����Ҳ��  4��Сͼ�м��*/
.hln-qykimg .hln-image-transition span {
	line-height: 1.2;
}

/*����ƶ���ͼƬ�л�  ���л���ͼƬ����*/
.hln-image-mouse-hover {
	display: none;
}

/* ��ҵ��ͼƬ/��¼״̬ �����Ҳ��  4��Сͼ �������Ч��*/
.hln-qykimg .hln-image-transition:HOVER {
	color: #00c2de;
}

/*����ƶ���ͼƬ�л�  ���л���ͼƬ����*/
.hln-image-transition:HOVER .hln-image-mouse-out {
	display: none;
}

/*����ƶ���ͼƬ�л�  ���л���ͼƬ����*/
.hln-image-transition:HOVER .hln-image-mouse-hover {
	display: block;
}

/*��ҵ��ͼƬ/��¼״̬���Ҳ��ײ�button*/
.hln-qykimg .hln-qykimg-bottom {
	width: 50%;
	height: 40px;
}

.hln-login-status-login {
	padding: 10px 25px !important;
}

.hln-login-status-login>.hln-welcome>.pull-left>img {
	width: 50px;
	height: 50px;
	margin-right: 20px;
}

.hln-login-status-login>.hln-welcome>.pull-right {
	font-size: 14px;
	font-weight: normal;
	line-height: 26px;
	float: left !important;
}

.hln-login-status-login>.hln-welcome>.pull-right>p {
	margin-bottom: 0;
}

.hln-login-status-login>.hln-welcome>.pull-right>div {
	margin-right: 40px;
}

.hln-login-status-login>.hln-welcome>.pull-right>div>a {
	text-decoration: none;
	font-weight: bold;
}

.hln-login-status-login>.hln-welcome>.pull-right>div>a:HOVER {
	text-decoration: underline;
	color: #02bbda;
}

.hln-login-status-login>.hln-login-status-login-qy>p {
	color: #fff;
	text-align: left;
	margin-bottom: 0;
}

.hln-login-status-login .hln-qykimg-img {
	margin-top: 15px;
	margin-bottom: 15px;
}

.hln-login-status-login-qy>.btn {
	width: 115px;
	height: 24px;
	padding: 0;
	background-color: #fff;
	color: #000;
	border-radius: 0;
	opacity: 0.7;
}

.hln-login-status-login-qy>.btn:HOVER {
	color: #fff;
	background-color: #02bbda;
	border: 1px solid #02bbda;
}

.hln-login-status-login-qyrz>.btn {
	width: 175px;
	height: 38px;
	color: #fff;
	background-color: rgba(51, 51, 51, 0);
	border: 1px solid #00c1de;
}

.hln-login-status-login-qyrz>.btn:HOVER {
	background-color: #00c1de;
}

.hln-login-status-login>.hln-qykimg-img {
	margin-top: 0;
	margin-bottom: 0;
}

.hln-login-status-login>.hln-qykimg-img>p {
	color: #fff;
	text-align: left;
	margin-bottom: 0;
}

/* ��ҵ�� ���ͳ��*/
.hln-qyk-data {
	height: 40px;
	background-color: #d2d2d2;
}

/* ��ҵ�� ���ͳ�� li*/
.hln-qyk-data ul li {
	float: left;
	height: 40px;
	line-height: 40px;
	font-size: 14px;
	width: 33.33333%;
	text-align: center;
}
/* ��ҵ�� ���ͳ�� li ����*/
.hln-qyk-data ul li span {
	font-size: 20px;
	font-weight: bold;
}

/* ��ҵ�� ���ͳ�� li ������ɫ*/
.hln-qyk-data ul li a:HOVER {
	color: #01c3df;
}

/* ��ҵ�� ���ߺ��� */
.hln-qyk-line {
	margin-top: 35px;
}

/* ��ҵ�����ߵĺ���*/
.hln-qyk-line span:before, .hln-qyk-line span:after {
	width: 33%;
}

/* ��ҵ�����ߵĺ���*/
.hln-qyk-line span:before {
	left: 5%; /*�������ߵ����Ҿ���*/
}

/* ��ҵ�����ߵĺ���*/
.hln-qyk-line span:after {
	right: 5%;
}

/* ��ҵ�����ߵĺ��� �±�С��*/
.hln-qyk-line .row {
	margin-top: 10px;
	margin-bottom: 35px;
	font-size: 14px;
}

/* ��ҵ�� ���ƹ��� 3��div*/
.hln-qyk-ysgx >div{
	width: 390px;
	height: 130px;
	float: left;
	margin-right: 15px;
}

.hln-qyk-ysgx .hln-qyk-ysgx-right{
	margin-right: 0;
}

/* ��ҵ�� ���ƹ���  ��ɫdiv*/
.hln-qyk-ysgx .hln-qyk-white {
	background-color: #fff;
	text-align: left;
	padding: 30px 25px 30px 35px;
	display: none;
	height: 125px;
}

/* ��ҵ�� ���ƹ���  ��ɫdiv*/
.hln-qyk-ysgx .hln-qyk-white ul {
	overflow: visible;
}

/* ��ҵ�� ���ƹ���  ��ɫdiv*/
.hln-qyk-ysgx .hln-qyk-white li {
	list-style: disc;
	line-height: 1.6;
}

.hln-qyk-ysgx .hln-qyk-bule{
	background-color: #00c2de;
	background-image: url("../images/qyk/tj-img01.png");
	background-position: 270px center;
	background-repeat: no-repeat;
}

.hln-qyk-ysgx-left:HOVER .hln-qyk-bule{
	display: none;
}

.hln-qyk-ysgx-left:HOVER .hln-qyk-white{
	display:block!important;
}

.hln-qyk-ysgx-left> .hln-qyk-white{
	border-top: 10px solid #00c2de;
}

.hln-qyk-ysgx .hln-qyk-yellow {
	background-color: #fb7d29;
	background-image: url("../images/qyk/tj-img02.png");
	background-position: 270px center;
	background-repeat: no-repeat;
}

.hln-qyk-ysgx-center:HOVER .hln-qyk-yellow{
	display: none;
}

.hln-qyk-ysgx-center:HOVER .hln-qyk-white{
	display:block!important;
}

.hln-qyk-ysgx-center> .hln-qyk-white{
	border-top: 10px solid #fb7d29;
}

.hln-qyk-ysgx .hln-qyk-bule ,.hln-qyk-ysgx .hln-qyk-yellow, .hln-qyk-ysgx .hln-qyk-green {
	padding: 30px;
	color: #fff;
	font-size: 14px;
	font-weight: bold;
}

.hln-qyk-ysgx .hln-qyk-bule p,.hln-qyk-ysgx .hln-qyk-yellow p, .hln-qyk-ysgx .hln-qyk-green p {
	font-size: 20px;
}

.hln-btn-font {
	margin-left: 5px;
	margin-right: 10px;
	background-color: #fff;
	color: #fb7d29;
	height: 27px;
	line-height: 27px;
	padding-top: 0;
	padding-bottom: 0;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 14px;
	font-weight: bold;
	border-radius: 4px;
}

.hln-qyk-ysgx .hln-qyk-green {
	margin-right: 0;
	background-color: #39d3b1;
	background-image: url("../images/qyk/tj-img03.png");
	background-position: 270px center;
	background-repeat: no-repeat;
}

.hln-qyk-ysgx-right:HOVER .hln-qyk-green{
	display: none;
}

.hln-qyk-ysgx-right:HOVER .hln-qyk-white{
	display:block!important;
}

.hln-qyk-ysgx-right> .hln-qyk-white{
	border-top: 10px solid #39d3b1;
}

.hln-qyk-content-center {
	margin-top: 74px;
}

.hln-qyk-stq-top {
	height: 475px;
}

.hln-qyk-stq-top>div {
	width: 595px;
	height: 475px;
	background-color: #fff;
}

.hln-qyk-stq-top-bottom {
	margin: 15px 0;
	height: 398px;
}

.hln-qyk-stq-top .pull-left .hln-qyk-stq-top-bottom>.pull-left {
	width: 183px;
	height: 398px;
	background-image: url("../images/qyk/main-list-img01.jpg.jpg");
	background-position: top left;
	background-repeat: no-repeat;
}

.hln-qyk-stq-top .pull-right .hln-qyk-stq-top-bottom>.pull-left {
	width: 183px;
	height: 398px;
	background-image: url("../images/qyk/main-list-img02.jpg.jpg");
	background-position: top left;
	background-repeat: no-repeat;
}

.hln-qyk-stq-top-bottom>.pull-left {
	padding: 50px 20px;
	color: #fff;
}

.hln-qyk-stq-top-bottom-left-s {
	width: 100%;
	background-color: #fff;
	color: #00c2de;
	text-align: center;
	font-size: 18px;
	font-weight: bold;
	margin-top: 10px;
	margin-bottom: 15px;
	height: 33px;
	line-height: 33px;
}

.hln-qyk-stq-top-bottom-title {
	font-size: 30px;
	font-weight: bold;
	line-height: 39.6px;
}

.hln-qyk-stq-top-bottom>.pull-right {
	width: 403px;
	height: 398px;
	margin-left: 8px;
}

.hln-qyk-stq-top-bottom .pull-right>div {
	width: 403px;
	height: 195px;
}

.hln-qyk-stq-div {
	width: 183px;
	height: 195px;
	border: 1px solid #ccc;
	padding: 15px 5px 10px 5px;
	text-align: center;
}

.hln-qyk-stq-div:HOVER {
	border-color: #00c1de;
}

.hln-qyk-stq-top-bottom-right-top {
	margin-bottom: 8px;
}

.hln-qyk-stq-enn {
	font-size: 20px;
	font-weight: bold;
	color: #005194;
}

.hln-qyk-stq-enn>img {
	max-width: 120px;
	max-height: 60px;
	margin-right: 5px;
}

.hln-qyk-stq-enn>span{
	height: 35px;
	line-height: 35px;
}

.hln-qyk-stq-enn-s {
	color: #777;
	line-height: 20px;
}

.hln-qyk-stq-enn-s span {
	color: #fb7d29;
	font-size: 18px;
}

.hln-btn-qyk-stq {
	width: 105px;
	height: 27px;
	line-height: 27px;
	background-color: #fff;
	border-radius: 0;
	font-size: 14px;
	color: #00c2de;
	padding: 0;
	text-align: center;
	border: 1px solid #00c2de;
}

.hln-btn-qyk-stq:HOVER {
	background-color: #00c2de;
	color: #fff;
}

.hln-qyk-background-black {
	height: 90px;
	width: 1200px;
	background-color: #393e46;
	margin-top: 25px;
	margin-bottom: 25px;
}

.hln-qyk-stq-center>div {
	width: 595px;
	height: 475px;
	background: #fff;
}

.hln-qyk-stq-center {
	height: 475px;
}

.hln-qyk-stq-center .hln-qyk-stq-top-bottom {
	margin-left: 7px;
}

.hln-qyk-stq-center .hln-qyk-stq-div {
	float: left;
	margin-left: 8px;
	margin-bottom: 8px;
}

.hln-qyk-stq-bottom {
	width: 1200px;
	height: 450px;
	background-color: #fff;
	padding: 25px 15px 25px 7px;
}

.hln-qyk-stq-bottom-top>div, .hln-qyk-stq-bottom-bottom>div {
	float: left;
	margin-left: 8px;
	margin-bottom: 8px;
}

.hln-qyk-stq-bottom-top .hln-qyk-stq-bule, .hln-qyk-stq-bottom-bottom .hln-qyk-stq-yellow
	{
	width: 183px;
	height: 195px;
	background-color: #00c1de;
	color: #fff;
	padding: 25px 15px;
}

.hln-qyk-stq-bule .hln-qyk-stq-top-bottom-title, .hln-qyk-stq-yellow .hln-qyk-stq-top-bottom-title
	{
	font-size: 24px;
}

.hln-qyk-stq-bule .link-a,.hln-qyk-stq-yellow .link-a{font-size: 12px; color: #fff;}
.hln-qyk-stq-bule .link-a:hover,.hln-qyk-stq-yellow .link-a:hover{ color: #333 }

.hln-qyk-stq-bule .hln-qyk-stq-top-bottom-left-s, .hln-qyk-stq-yellow .hln-qyk-stq-top-bottom-left-s
	{
	margin-top: 8px;
	margin-bottom: 8px;
}

.hln-qyk-stq-bottom-bottom .hln-qyk-stq-yellow {
	background-color: #fb7d29;
}

.hln-qyk-stq-yellow .hln-qyk-stq-top-bottom-left-s {
	color: #fb7d29;
}

.hln-qyk-content-bottom {
	text-align: center;
}

.hln-qyk-content-bottom .hln-qyk-line .row {
	margin-bottom: 15px;
}

.hln-qyk-content-bottom .hln-qyk-line span:before {
	left: 2%;
}

.hln-qyk-content-bottom .hln-qyk-line span:AFTER {
	right: 2%;
}

.hln-qyk-content-bottom .hln-btn-info {
	width: 170px;
	height: 37px;
	font-weight: bold;
	line-height: 37px;
	padding:0;
}

.hln-qyk-content-bottom-wenti {
	margin-top: 50px;
	margin-bottom: 50px;
	height: 400px;
}

.hln-qyk-content-bottom-wenti>div {
	width: 390px;
	height: 190px;
	border: 1px solid #ccc;
	float: left;
	margin-left: 8px;
	margin-bottom: 8px;
	background-color: #fff;
	padding: 30px 15px 30px 10px;
}

.hln-qyk-content-bottom-wenti>div:HOVER {
	border-color: #00c1de;
}

.hln-qyk-content-bottom-wenti>div:HOVER .hln-image-mouse-out {
	display: none;
}

.hln-qyk-content-bottom-wenti>div:HOVER .hln-image-mouse-hover {
	display: inline-block;
}

.hln-qyk-content-bottom-wenti-mouse-style {
	float: left;
	height: 130px;
	line-height: 130px;
	margin-right: 20px;
}

.hln-qyk-content-bottom-wenti-mouse-ul {
	text-align: left;
}

.hln-qyk-content-bottom-wenti-mouse-ul>p {
	font-size: 18px;
}

.hln-qyk-content-bottom-wenti-mouse-ul>ul {
	overflow: visible;
}
.hln-zx-centent-title span a:last-child{
	color:#009944;
}