/**
/阿里图标
 */
@font-face {
	font-family: 'iconfont';  /* project id 814390 */
	src: url('//at.alicdn.com/t/font_814390_d9j38nbl00h.eot');
	src: url('//at.alicdn.com/t/font_814390_d9j38nbl00h.eot?#iefix') format('embedded-opentype'),
	url('//at.alicdn.com/t/font_814390_d9j38nbl00h.woff') format('woff'),
	url('//at.alicdn.com/t/font_814390_d9j38nbl00h.ttf') format('truetype'),
	url('//at.alicdn.com/t/font_814390_d9j38nbl00h.svg#iconfont') format('svg');
}
.iconfont {
	font-family:"iconfont" !important;
	font-size:16px;
	font-style:normal;
	-webkit-font-smoothing: antialiased;
	-webkit-text-stroke-width: 0.2px;
	-moz-osx-font-smoothing: grayscale;
}

.list_lh {
	height: 180px;
	overflow: hidden
}

.list_lh li {
	/*padding: 10px*/
	font-size: 13px;
	cursor: pointer;
	color: #fff;
}
.list_lh li:hover{
	color: #009944!important;
}
.list_lh li.lieven {
	background: #f0f2f3
}

.list_lh li p {
	height: 24px;
	line-height: 24px
}

.list_lh li p a {
	float: left;
}

.list_lh li p em {
	width: 80px;
	font: normal 12px/24px Arial;
	color: #f30;
	float: right;
	display: inline-block
}

.list_lh li p span {
	color: #999;
	float: right
}

.list_lh li p a.btn_lh {
	background: #28bd19;
	height: 17px;
	line-height: 17px;
	color: #fff;
	padding: 0 5px;
	margin-top: 4px;
	display: inline-block;
	float: right
}

.btn_lh:hover {
	color: #fff;
	text-decoration: none
}

.btm p {
	font: normal 12px/24px 'Microsoft YaHei';
	text-align: center
}

.btn-primary {
	border: 1px solid #009944;
	background-color: #009944;
}

.btn-primary:hover {
	background-color: #007222;
	border: 1px solid #009944;
}

/*modal 样式*/
.modal-icon-box{
	width: 52px;
	height: 52px;
	margin: 20px auto;
	background-color: #009944;
	border-radius: 50%;
	text-align: center;
	line-height: 52px;
	color: #fff;
}
.modal-icon-box .iconfont{
	font-size: 40px;
}